@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  @apply bg-white text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
